@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro|Roboto');

/*Fonts
------Fonts-------
font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Roboto', sans-serif;


------Colors-------
orange color: #e54a35;
gray (border) color: #695d46;
SDS Blue color: #27738B;
*/

html, body {
    width: 100%;
    min-height: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: white;
    border-bottom: solid 2px black;
    font-family: 'Source Sans Pro', sans-serif;
}

#name {
    background-color: #e54a35;
}

#name h1 {
    color: white;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    height: 100%;
    margin: 4%;
    vertical-align: middle;
}

.nav-items {
    margin: 0px auto;
    text-align: center;
    height: 100%;
}

.nav-items ul {
    padding: 2% 0%;
    margin: 0px auto;
    height: 100%;
}

.nav-items a {
    color: #695d46;
    text-decoration: none;
    vertical-align: middle;
}

.nav-items a:hover {
    color: #e54a35;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

.nav-items li { 
    display: inline;
    margin: 0% 5%;
    vertical-align: middle;
}

.main {
    margin-bottom: 200px;
}

.site-footer {
    border-top: 5px solid black;
    background-color: #e54a35; 
}

#copyright {
    text-align: center;
    color: white;
    font-size: 110%;
    padding: 2%;
    vertical-align: middle;
}

.card {
    background-color: white;
    margin-top: 5%;
    padding: 10px;
    box-shadow: 3px 8px 28px #888888;
    display: inline-block;
}

.card-header {
    border-bottom: 2px solid #695d46;
    margin: 3% 0%;
}

.card-header h2 {
    text-align: center;
    color: #695d46;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 6px 0px;
}

.primary {
    padding: 0% 5% 5% 5%;
    text-align: justify;
}

.primary h2 {
    text-align: left;
}

.primary p {
    display: inline;
}

#profile-pic {
    width: 100%;
    float: left;
    margin: 0% 5% 3% 0%;
    box-shadow: 3px 3px 21px #888888;
    border: 4px solid white;
}

.project {
    position: relative;
    margin: 3% 0%;
}

.placeholder-pic {
    width: 100%;
    margin: 0px auto;
    box-shadow: 3px 3px 25px #888888;
}

.project-title {
    width: 100%;
    display: flex;
    margin: 0px auto;
    position: absolute;
    bottom: 10%;
    left: 0px;
    font-size: 10px;
    color: white;
    text-align: center;
}

.project-title h3 {
    width: 100%;
    margin: 0px auto;
    padding: 5%;
    font-size: 1.5em;
    background-color: #e54a35;
}

#contact-form label {
    color: #695d46;
    font-family: 'Roboto', sans-serif;
}

input[type="text"], [type="email"] {
    border: none;
    box-shadow: 0px 3px 10px #e2e2e2 inset;
    border-radius: 3px;
    padding: 7px;
    outline: none;
}

textarea {
    border: none !important;
    box-shadow: 0px 3px 15px #e2e2e2 inset !important;
    border-radius: 3px;
    padding: 7px;
    outline: none;
}

#contact-form button {
    background-color: #e54a35;
    color: white;
    border: 0px;
    box-shadow: 3px 3px 10px #888888;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

#contact-form button:hover {
    background-color: white;
    color: #695d46;
    font-family: 'Source Sans Pro', sans-serif;
}

.social {
    padding: 0% 1% 1% 1%;
}

#icons {
    width: 90%;
    margin: auto;
}

.social-icon {
    width: 18%;
    margin-left: 5%;    
}

.social-icon:hover {
    width: 20%;
}